        body {
            background-color: #2A9D8F;            
        }

        h1 {
            color: #264653;
            font-family: 'Lobster', serif;
            line-height: 40px;
            font-size: 60px;
        }

        p {
            color: #264653;
            font-family: 'Karantina', serif;
            font-size: 28px;
        }
    
        h2, h3 {
            color: #1d3557;
            font-size: 30px;
            font-weight: bold;
        }
        
        .bottom {
            background-color: #457b9d;
            color: #1d3557;
            font-weight: bold;
            text-decoration: none;
            border-radius: 5px;
            padding: 5px;
        }

        .center-align {
            text-align: center;
        }

        .center-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 15px;
        }

        .has-skills {
            color: #264653;
            font-size: 24px;
        }

        .hasnt-skills {
            color: #264653;
            font-style: italic;
            text-decoration:line-through;
            font-size: 24px;
        }